.parent{
    margin-left: 15px;
}
.recipe-card{
    margin: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
}
.recipe-card:hover{
   /* transform: scale(1.02); */
   box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}

h3{
    margin: 0px !important;
}
h4.b{
    font-weight: bold !important;
}
.center-margin{
    margin-top:25px !important;
}
